/* glue: 0.3 hash: e654ecb28d */
.sprite-icons-lowvoltage,
.sprite-icons-xdccme,
.sprite-icons-xdccfinder,
.sprite-icons-vcdq,
.sprite-icons-usenetcrawler,
.sprite-icons-torrentzeu,
.sprite-icons-thepiratebay,
.sprite-icons-sunxdcc,
.sprite-icons-privnzb,
.sprite-icons-predbme,
.sprite-icons-orlydb,
.sprite-icons-omg,
.sprite-icons-nzbzombie,
.sprite-icons-nzbx,
.sprite-icons-nzbsu,
.sprite-icons-nzbsrus,
.sprite-icons-nzbsdotorg,
.sprite-icons-nzbscadia,
.sprite-icons-nzbs2go,
.sprite-icons-nzbrss,
.sprite-icons-nzbmatrix,
.sprite-icons-nzbindex,
.sprite-icons-nzbgeek,
.sprite-icons-nzbfinder,
.sprite-icons-nzbfactor,
.sprite-icons-nzbclub,
.sprite-icons-nzb7,
.sprite-icons-nzb4u,
.sprite-icons-newzb,
.sprite-icons-newtorrents,
.sprite-icons-mega-nzbx,
.sprite-icons-kickasstorrents,
.sprite-icons-isohunt,
.sprite-icons-h33t,
.sprite-icons-freenzb,
.sprite-icons-findnzbsinfo,
.sprite-icons-findnzb,
.sprite-icons-filestube,
.sprite-icons-eztv,
.sprite-icons-extratorrent,
.sprite-icons-easynews,
.sprite-icons-dognzb,
.sprite-icons-btdigg,
.sprite-icons-bitsnoop,
.sprite-icons-1337x,
.sprite-icons-excursionscript,
.sprite-icons-email_edit,
.sprite-icons-p{background-image:url('../sprites/icons.png');background-repeat:no-repeat;display: inline-block;}
.sprite-icons-lowvoltage{background-position:0px 0px;width:68px;height:68px;}
.sprite-icons-xdccme{background-position:-68px 0px;width:28px;height:28px;}
.sprite-icons-xdccfinder{background-position:-68px -28px;width:28px;height:28px;}
.sprite-icons-vcdq{background-position:0px -68px;width:28px;height:28px;}
.sprite-icons-usenetcrawler{background-position:-28px -68px;width:28px;height:28px;}
.sprite-icons-torrentzeu{background-position:-56px -68px;width:28px;height:28px;}
.sprite-icons-thepiratebay{background-position:-96px 0px;width:28px;height:28px;}
.sprite-icons-sunxdcc{background-position:-96px -28px;width:28px;height:28px;}
.sprite-icons-privnzb{background-position:-96px -56px;width:28px;height:28px;}
.sprite-icons-predbme{background-position:0px -96px;width:28px;height:28px;}
.sprite-icons-orlydb{background-position:-28px -96px;width:28px;height:28px;}
.sprite-icons-omg{background-position:-56px -96px;width:28px;height:28px;}
.sprite-icons-nzbzombie{background-position:-84px -96px;width:28px;height:28px;}
.sprite-icons-nzbx{background-position:-124px 0px;width:28px;height:28px;}
.sprite-icons-nzbsu{background-position:-124px -28px;width:28px;height:28px;}
.sprite-icons-nzbsrus{background-position:-124px -56px;width:28px;height:28px;}
.sprite-icons-nzbsdotorg{background-position:-124px -84px;width:28px;height:28px;}
.sprite-icons-nzbscadia{background-position:0px -124px;width:28px;height:28px;}
.sprite-icons-nzbs2go{background-position:-28px -124px;width:28px;height:28px;}
.sprite-icons-nzbrss{background-position:-56px -124px;width:28px;height:28px;}
.sprite-icons-nzbmatrix{background-position:-84px -124px;width:28px;height:28px;}
.sprite-icons-nzbindex{background-position:-112px -124px;width:28px;height:28px;}
.sprite-icons-nzbgeek{background-position:-152px 0px;width:28px;height:28px;}
.sprite-icons-nzbfinder{background-position:-152px -28px;width:28px;height:28px;}
.sprite-icons-nzbfactor{background-position:-152px -56px;width:28px;height:28px;}
.sprite-icons-nzbclub{background-position:-152px -84px;width:28px;height:28px;}
.sprite-icons-nzb7{background-position:-152px -112px;width:28px;height:28px;}
.sprite-icons-nzb4u{background-position:0px -152px;width:28px;height:28px;}
.sprite-icons-newzb{background-position:-28px -152px;width:28px;height:28px;}
.sprite-icons-newtorrents{background-position:-56px -152px;width:28px;height:28px;}
.sprite-icons-mega-nzbx{background-position:-84px -152px;width:28px;height:28px;}
.sprite-icons-kickasstorrents{background-position:-112px -152px;width:28px;height:28px;}
.sprite-icons-isohunt{background-position:-140px -152px;width:28px;height:28px;}
.sprite-icons-h33t{background-position:-180px 0px;width:28px;height:28px;}
.sprite-icons-freenzb{background-position:-180px -28px;width:28px;height:28px;}
.sprite-icons-findnzbsinfo{background-position:-180px -56px;width:28px;height:28px;}
.sprite-icons-findnzb{background-position:-180px -84px;width:28px;height:28px;}
.sprite-icons-filestube{background-position:-180px -112px;width:28px;height:28px;}
.sprite-icons-eztv{background-position:-180px -140px;width:28px;height:28px;}
.sprite-icons-extratorrent{background-position:0px -180px;width:28px;height:28px;}
.sprite-icons-easynews{background-position:-28px -180px;width:28px;height:28px;}
.sprite-icons-dognzb{background-position:-56px -180px;width:28px;height:28px;}
.sprite-icons-btdigg{background-position:-84px -180px;width:28px;height:28px;}
.sprite-icons-bitsnoop{background-position:-112px -180px;width:28px;height:28px;}
.sprite-icons-1337x{background-position:-140px -180px;width:28px;height:28px;}
.sprite-icons-excursionscript{background-position:-168px -180px;width:20px;height:20px;}
.sprite-icons-email_edit{background-position:-188px -180px;width:20px;height:20px;}
.sprite-icons-p{background-position:-180px -168px;width:5px;height:5px;}
