/* glue: 0.9.4 hash: c781a3b23f */
        .sprite-icons-lowvoltage2,
.sprite-icons-lowvoltage,
.sprite-icons-nzbking,
.sprite-icons-xdccme,
.sprite-icons-xdccfinder,
.sprite-icons-vcdq,
.sprite-icons-torrentzeu,
.sprite-icons-torrentproject,
.sprite-icons-torrentbox,
.sprite-icons-thepiratebay,
.sprite-icons-sunxdcc,
.sprite-icons-predbme,
.sprite-icons-popcorn,
.sprite-icons-oznzb,
.sprite-icons-orlydb,
.sprite-icons-omg,
.sprite-icons-oldpiratebay,
.sprite-icons-nzbsu,
.sprite-icons-nzbsdotorg,
.sprite-icons-nzbs2go,
.sprite-icons-nzbrss,
.sprite-icons-nzbplanet,
.sprite-icons-nzbndx,
.sprite-icons-nzbindexin,
.sprite-icons-nzbindex,
.sprite-icons-nzbgeek,
.sprite-icons-nzbfinder,
.sprite-icons-nzbclub,
.sprite-icons-nfohump,
.sprite-icons-newtorrents,
.sprite-icons-metasearch,
.sprite-icons-kickasstorrents,
.sprite-icons-isohunt,
.sprite-icons-homeofnzb,
.sprite-icons-h33t,
.sprite-icons-gingadaddy,
.sprite-icons-findnzb,
.sprite-icons-filestube,
.sprite-icons-eztv,
.sprite-icons-extratorrent,
.sprite-icons-dusky,
.sprite-icons-dognzb,
.sprite-icons-btdigg,
.sprite-icons-bitsnoop,
.sprite-icons-binsearch,
.sprite-icons-1337x,
.sprite-icons-excursionscript,
.sprite-icons-p {
            background-image: url('../img/icons.png');
            background-repeat: no-repeat;
        }
        
        .sprite-icons-lowvoltage2 {
            background-position: -2px -2px;
            width: 66px;
            height: 66px;
        }
        
        .sprite-icons-lowvoltage {
            background-position: -72px -2px;
            width: 66px;
            height: 66px;
        }
        
        .sprite-icons-nzbking {
            background-position: -2px -72px;
            width: 27px;
            height: 27px;
        }
        
        .sprite-icons-xdccme {
            background-position: -33px -72px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-xdccfinder {
            background-position: -63px -72px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-vcdq {
            background-position: -93px -72px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-torrentzeu {
            background-position: -2px -103px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-torrentproject {
            background-position: -32px -103px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-torrentbox {
            background-position: -62px -103px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-thepiratebay {
            background-position: -92px -103px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-sunxdcc {
            background-position: -142px -2px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-predbme {
            background-position: -142px -32px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-popcorn {
            background-position: -142px -62px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-oznzb {
            background-position: -142px -92px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-orlydb {
            background-position: -2px -133px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-omg {
            background-position: -32px -133px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-oldpiratebay {
            background-position: -62px -133px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-nzbsu {
            background-position: -92px -133px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-nzbsdotorg {
            background-position: -122px -133px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-nzbs2go {
            background-position: -172px -2px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-nzbrss {
            background-position: -172px -32px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-nzbplanet {
            background-position: -172px -62px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-nzbndx {
            background-position: -172px -92px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-nzbindexin {
            background-position: -172px -122px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-nzbindex {
            background-position: -2px -163px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-nzbgeek {
            background-position: -32px -163px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-nzbfinder {
            background-position: -62px -163px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-nzbclub {
            background-position: -92px -163px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-nfohump {
            background-position: -122px -163px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-newtorrents {
            background-position: -152px -163px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-metasearch {
            background-position: -202px -2px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-kickasstorrents {
            background-position: -202px -32px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-isohunt {
            background-position: -202px -62px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-homeofnzb {
            background-position: -202px -92px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-h33t {
            background-position: -202px -122px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-gingadaddy {
            background-position: -202px -152px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-findnzb {
            background-position: -2px -193px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-filestube {
            background-position: -32px -193px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-eztv {
            background-position: -62px -193px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-extratorrent {
            background-position: -92px -193px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-dusky {
            background-position: -122px -193px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-dognzb {
            background-position: -152px -193px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-btdigg {
            background-position: -182px -193px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-bitsnoop {
            background-position: -232px -2px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-binsearch {
            background-position: -232px -32px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-1337x {
            background-position: -232px -62px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-excursionscript {
            background-position: -232px -92px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-icons-p {
            background-position: -254px -92px;
            width: 3px;
            height: 3px;
        }
        
        @media screen and (-webkit-min-device-pixel-ratio: 1.0), screen and (min--moz-device-pixel-ratio: 1.0), screen and (-o-min-device-pixel-ratio: 100/100), screen and (min-device-pixel-ratio: 1.0), screen and (min-resolution: 1.0dppx) {
            .sprite-icons-lowvoltage2,
    .sprite-icons-lowvoltage,
    .sprite-icons-nzbking,
    .sprite-icons-xdccme,
    .sprite-icons-xdccfinder,
    .sprite-icons-vcdq,
    .sprite-icons-torrentzeu,
    .sprite-icons-torrentproject,
    .sprite-icons-torrentbox,
    .sprite-icons-thepiratebay,
    .sprite-icons-sunxdcc,
    .sprite-icons-predbme,
    .sprite-icons-popcorn,
    .sprite-icons-oznzb,
    .sprite-icons-orlydb,
    .sprite-icons-omg,
    .sprite-icons-oldpiratebay,
    .sprite-icons-nzbsu,
    .sprite-icons-nzbsdotorg,
    .sprite-icons-nzbs2go,
    .sprite-icons-nzbrss,
    .sprite-icons-nzbplanet,
    .sprite-icons-nzbndx,
    .sprite-icons-nzbindexin,
    .sprite-icons-nzbindex,
    .sprite-icons-nzbgeek,
    .sprite-icons-nzbfinder,
    .sprite-icons-nzbclub,
    .sprite-icons-nfohump,
    .sprite-icons-newtorrents,
    .sprite-icons-metasearch,
    .sprite-icons-kickasstorrents,
    .sprite-icons-isohunt,
    .sprite-icons-homeofnzb,
    .sprite-icons-h33t,
    .sprite-icons-gingadaddy,
    .sprite-icons-findnzb,
    .sprite-icons-filestube,
    .sprite-icons-eztv,
    .sprite-icons-extratorrent,
    .sprite-icons-dusky,
    .sprite-icons-dognzb,
    .sprite-icons-btdigg,
    .sprite-icons-bitsnoop,
    .sprite-icons-binsearch,
    .sprite-icons-1337x,
    .sprite-icons-excursionscript,
    .sprite-icons-p {
                background-image: url('../img/icons.png');
                -webkit-background-size: 260px 221px;
                -moz-background-size: 260px 221px;
                background-size: 260px 221px;
            }
        }
        