/* glue: 0.9.4 hash: 629f30b85a */
        .sprite-icons-lowvoltage2,
.sprite-icons-lowvoltage,
.sprite-icons-nzbking,
.sprite-icons-xdccme,
.sprite-icons-xdccfinder,
.sprite-icons-torrentzeu,
.sprite-icons-torrentproject,
.sprite-icons-torrentdownloads,
.sprite-icons-thepiratebay,
.sprite-icons-sunxdcc,
.sprite-icons-streamsquid,
.sprite-icons-scihub,
.sprite-icons-predbme,
.sprite-icons-oznzb,
.sprite-icons-omg,
.sprite-icons-nzbsu,
.sprite-icons-nzbsdotorg,
.sprite-icons-nzbs2go,
.sprite-icons-nzbplanet,
.sprite-icons-nzbmovieseeker,
.sprite-icons-nzbindexin,
.sprite-icons-nzbindex,
.sprite-icons-nzbgeek,
.sprite-icons-nzbfinder,
.sprite-icons-nzbclub,
.sprite-icons-nfohump,
.sprite-icons-newtorrents,
.sprite-icons-metasearch,
.sprite-icons-l337x,
.sprite-icons-kickasstorrents,
.sprite-icons-isohunt,
.sprite-icons-gingadaddy,
.sprite-icons-findnzb,
.sprite-icons-filestube,
.sprite-icons-fastbot,
.sprite-icons-eztv,
.sprite-icons-extratorrent,
.sprite-icons-dusky,
.sprite-icons-drunkenslug,
.sprite-icons-dognzb,
.sprite-icons-btdigg,
.sprite-icons-btdb,
.sprite-icons-book7,
.sprite-icons-book6,
.sprite-icons-book5,
.sprite-icons-book4,
.sprite-icons-book3,
.sprite-icons-book2,
.sprite-icons-book1,
.sprite-icons-bitsnoop,
.sprite-icons-binsearch,
.sprite-icons-bandcamp,
.sprite-icons-audiobookvault,
.sprite-icons-audiobookbay,
.sprite-icons-excursionscript,
.sprite-icons-p {
            background-image: url('../img/icons.png');
            background-repeat: no-repeat;
        }
        
        .sprite-icons-lowvoltage2 {
            background-position: -2px -2px;
            width: 66px;
            height: 66px;
        }
        
        .sprite-icons-lowvoltage {
            background-position: -72px -2px;
            width: 66px;
            height: 66px;
        }
        
        .sprite-icons-nzbking {
            background-position: -2px -72px;
            width: 27px;
            height: 27px;
        }
        
        .sprite-icons-xdccme {
            background-position: -33px -72px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-xdccfinder {
            background-position: -63px -72px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-torrentzeu {
            background-position: -93px -72px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-torrentproject {
            background-position: -2px -103px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-torrentdownloads {
            background-position: -32px -103px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-thepiratebay {
            background-position: -62px -103px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-sunxdcc {
            background-position: -92px -103px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-streamsquid {
            background-position: -142px -2px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-scihub {
            background-position: -142px -32px;
            width: 26px;
            height: 23px;
        }
        
        .sprite-icons-predbme {
            background-position: -142px -59px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-oznzb {
            background-position: -142px -89px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-omg {
            background-position: -2px -133px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-nzbsu {
            background-position: -32px -133px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-nzbsdotorg {
            background-position: -62px -133px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-nzbs2go {
            background-position: -92px -133px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-nzbplanet {
            background-position: -122px -133px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-nzbmovieseeker {
            background-position: -172px -2px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-nzbindexin {
            background-position: -172px -32px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-nzbindex {
            background-position: -172px -62px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-nzbgeek {
            background-position: -172px -92px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-nzbfinder {
            background-position: -172px -122px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-nzbclub {
            background-position: -2px -163px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-nfohump {
            background-position: -32px -163px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-newtorrents {
            background-position: -62px -163px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-metasearch {
            background-position: -92px -163px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-l337x {
            background-position: -122px -163px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-kickasstorrents {
            background-position: -152px -163px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-isohunt {
            background-position: -202px -2px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-gingadaddy {
            background-position: -202px -32px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-findnzb {
            background-position: -202px -62px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-filestube {
            background-position: -202px -92px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-fastbot {
            background-position: -202px -122px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-eztv {
            background-position: -202px -152px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-extratorrent {
            background-position: -2px -193px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-dusky {
            background-position: -32px -193px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-drunkenslug {
            background-position: -62px -193px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-dognzb {
            background-position: -92px -193px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-btdigg {
            background-position: -122px -193px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-btdb {
            background-position: -152px -193px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-book7 {
            background-position: -182px -193px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-book6 {
            background-position: -232px -2px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-book5 {
            background-position: -232px -32px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-book4 {
            background-position: -232px -62px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-book3 {
            background-position: -232px -92px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-book2 {
            background-position: -232px -122px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-book1 {
            background-position: -232px -152px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-bitsnoop {
            background-position: -232px -182px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-binsearch {
            background-position: -2px -223px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-bandcamp {
            background-position: -32px -223px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-audiobookvault {
            background-position: -62px -223px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-audiobookbay {
            background-position: -92px -223px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-icons-excursionscript {
            background-position: -122px -223px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-icons-p {
            background-position: -232px -212px;
            width: 3px;
            height: 3px;
        }
        
        @media screen and (-webkit-min-device-pixel-ratio: 1.0), screen and (min--moz-device-pixel-ratio: 1.0), screen and (-o-min-device-pixel-ratio: 100/100), screen and (min-device-pixel-ratio: 1.0), screen and (min-resolution: 1.0dppx) {
            .sprite-icons-lowvoltage2,
    .sprite-icons-lowvoltage,
    .sprite-icons-nzbking,
    .sprite-icons-xdccme,
    .sprite-icons-xdccfinder,
    .sprite-icons-torrentzeu,
    .sprite-icons-torrentproject,
    .sprite-icons-torrentdownloads,
    .sprite-icons-thepiratebay,
    .sprite-icons-sunxdcc,
    .sprite-icons-streamsquid,
    .sprite-icons-scihub,
    .sprite-icons-predbme,
    .sprite-icons-oznzb,
    .sprite-icons-omg,
    .sprite-icons-nzbsu,
    .sprite-icons-nzbsdotorg,
    .sprite-icons-nzbs2go,
    .sprite-icons-nzbplanet,
    .sprite-icons-nzbmovieseeker,
    .sprite-icons-nzbindexin,
    .sprite-icons-nzbindex,
    .sprite-icons-nzbgeek,
    .sprite-icons-nzbfinder,
    .sprite-icons-nzbclub,
    .sprite-icons-nfohump,
    .sprite-icons-newtorrents,
    .sprite-icons-metasearch,
    .sprite-icons-l337x,
    .sprite-icons-kickasstorrents,
    .sprite-icons-isohunt,
    .sprite-icons-gingadaddy,
    .sprite-icons-findnzb,
    .sprite-icons-filestube,
    .sprite-icons-fastbot,
    .sprite-icons-eztv,
    .sprite-icons-extratorrent,
    .sprite-icons-dusky,
    .sprite-icons-drunkenslug,
    .sprite-icons-dognzb,
    .sprite-icons-btdigg,
    .sprite-icons-btdb,
    .sprite-icons-book7,
    .sprite-icons-book6,
    .sprite-icons-book5,
    .sprite-icons-book4,
    .sprite-icons-book3,
    .sprite-icons-book2,
    .sprite-icons-book1,
    .sprite-icons-bitsnoop,
    .sprite-icons-binsearch,
    .sprite-icons-bandcamp,
    .sprite-icons-audiobookvault,
    .sprite-icons-audiobookbay,
    .sprite-icons-excursionscript,
    .sprite-icons-p {
                background-image: url('../img/icons.png');
                -webkit-background-size: 260px 251px;
                -moz-background-size: 260px 251px;
                background-size: 260px 251px;
            }
        }
        