// imports
@import 'normalize';
@import 'fonts';
@import 'sprite';


// -- style --
body {
	background: -webkit-linear-gradient(90deg, rgb(34, 175, 175) 0%, rgb(19, 28, 154) 100%) rgb(255, 255, 255);
	font-family: $font--open-sans;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.38;
	color: #b1c2c6;
}

i {
	display: inline-block;
}

.wrapper {
	margin: 40px auto;
	max-width: 625px;
}

header {
	text-align: center;
	padding: 20px 0;

	.title-text {
		font-size: 42px;
		font-weight: 300;
		vertical-align: middle;
	}
	.title-icon {
		vertical-align: middle;
	}
}

.search {
	text-align: center;
	padding: 20px 0;

	.search__text-box {
		width: 300px;
		background: transparent;
		box-shadow: none;
		border: 0;
		border-bottom: 1px solid;
		margin-right: 15px;
		color: white;
		font-weight: 300;
		line-height: 2;

		&:focus,
		&:active {
			outline: 0;
		}

		&::selection {
			color: white;
			background: #3ECCCD;
		}
	}
	.search__button {
		border: 1px solid;
		background: transparent;
		border-radius: 3px;
		padding: 0 15px;
		line-height: 2;

		&:hover {
			color: white;
		}
	}
}

.results {
	padding: 20px 5px 0;

	.results__row {
		padding: 10px 0;

		.row__title {
			display: inline-block;
			width: 85px;
		}

		.row__icons {
			display: inline-block;
			position: relative;

			i {
				vertical-align: middle;
			}
		}
	}
}


footer {
	text-align: center;
	margin-top: 50px;

	.footer-button {
		box-shadow: none;
		border: 1px solid rgba(0, 0, 0, 0);
		padding: 6px;
		border-radius: 2px;
		cursor: pointer;
		vertical-align: middle;
		font-size: 11px;
		text-decoration: none;
		font-weight: 400;
		margin: 0 2px;
		background: none;
		color: #DDD;

		&:hover {
			border: 1px solid #ddd;
			background: none;
		}
	}
}

























.h{position:absolute;right:-364px;top:8px;opacity:0;}
