// imports
@import 'fonts';
@import 'sprite';


// -- style --
body{
	background: #353535;
	font-family: $font--open-sans;
	font-weight: 400;
	font-size: 16px;
}
%button {
	box-shadow: none;
	background: #F0F0F0;
	border: 1px solid #DDD;
	padding: 6px;
	border-radius: 2px;
	margin: 0 5px;
	cursor: pointer;
	vertical-align: middle;
	&:hover {
		background: #F9F9F9;
	}
}
button, 
{
	@extend %button;
}
.abtn,
a.btn {
	box-shadow: none;
	border: 1px solid rgba(0, 0, 0, 0);
	padding: 6px;
	border-radius: 2px;
	cursor: pointer;
	vertical-align: middle;
	font-size: 11px;
	text-decoration: none;
	font-weight: 400;
	margin: 0 2px;
	background: none;
	color: #DDD;
	&:hover {
		border: 1px solid #ddd;
		background: none;
	}
}

.results-table {
	a > div {
		display: inline-block;
	}
}
td.title{
	color: #FAFFBC;
	padding-right: 3px;
}
.lowvoltagegenerator-title{
	color: #FAFFBC;
	font-size: 20pt;
	vertical-align: middle;
}
.lowvoltagegenerator-icon{
	position: relative;
	top: -5px;
	display: inline-block;
	vertical-align: middle;
}
.search{
	color: white;
	font-size: 19pt;
	font-weight: 400;
}

#outerdiv {
	position:absolute;
	top: 23%;
	left: 50%;
	width:34em;
	height:19em;
	margin-top: -9em; /*set to a negative number 1/2 of your height*/
	margin-left: -17em; /*set to a negative number 1/2 of your width*/
	padding: 20px;
	#innerdiv {
		border: 1px solid #777;
		padding: 20px;
		background-color: #2C3D4B;
		border-radius: 2px;
		margin-top: 15px;
	}
	#txtInput {
		height: 30px !important;
		width: 178px;
		border-radius: 2px;
		box-shadow: none;
		position: relative;
		vertical-align: middle;
	}	
}

.footer-actions {
	margin: 20px;
}
