// imports
@import 'normalize';
@import 'fonts';
@import 'sprite';


// -- style --
body {
	line-height: 1.38;
	font-family: $font--open-sans;
	font-weight: 400;
	font-size: 18px;
	color: #b1c2c6;
	background: -webkit-linear-gradient(90deg, rgb(34, 175, 175) 0%, rgb(19, 28, 154) 100%) rgb(255, 255, 255);
}

i {
	display: inline-block;
}

.wrapper {
	margin: 40px auto;
	max-width: 535px;
}

header {
	padding: 20px 0;
	text-align: center;

	.title-text {
		vertical-align: middle;
		font-size: 42px;
		font-weight: 300;
	}
	.title-icon {
		vertical-align: middle;
	}
}

.search {
	text-align: center;
	padding: 20px 0;

	.search__text-box {
		width: 300px;
		margin-right: 15px;
		padding-right: 22px;
		box-shadow: none;
		border: 0;
		border-bottom: 1px solid #3ECCCD;
		line-height: 2;
		font-weight: 300;
		color: #CFF;
		background: transparent;

		&::placeholder {
			color: #CFF;
			font-weight: 300;
		}

		&:focus,
		&:active {
			outline: 0;
		}

		&::selection {
			color: white;
			background: #3ECCCD;
		}
	}

	.search__clear {
		position: relative;
		display: inline-block;
		left: -36px;
		margin: 0;
		padding: 0 3px;
		border-radius: 50%;
		line-height: 1;
		font-weight: 600;
		color: #3ECCCD;

		&:before {
			content: '\00d7';
		}

		&:hover {
			background: #3ECCCD;
			color: #131E9B;
			cursor: pointer;
		}
	}

	.search__button {
		margin-left: -20px;
		padding: 0 15px;
		line-height: 2;
		border: 1px solid;
		border-radius: 3px;
		background: transparent;
		color: #3ECCCD;

		&:hover {
			border-color: #3ECCCD;
			background: #3ECCCD;
			color: #131E9B;
		}
	}
}

.results {
	padding: 20px 5px 0;

	.results__row {
		padding: 10px 0;
		clear: both;
		border-bottom: 1px solid rgba(255,255,255,0.1);
		overflow: hidden;
		padding-bottom: 15px;
		margin-bottom: 10px;

		.row__title {
			display: inline-block;
			width: 110px;
			margin-top: 3px;
			vertical-align: top;
		}

		.row__icons {
			display: inline-block;
			position: relative;
			float: right;
			max-width: 380px;
			text-align: right;

			a {
				overflow: auto;
				display: inline-block;

				&:hover {
					background: #2ecc71;
				}
			}

			i {
				vertical-align: middle;
			}
		}
	}
}


footer {
	margin-top: 50px;
	text-align: center;

	.footer-button {
		margin: 0 2px;
		padding: 6px;
		vertical-align: middle;
		box-shadow: none;
		border: 1px solid rgba(0, 0, 0, 0);
		border-radius: 2px;
		font-size: 11px;
		font-weight: 400;
		text-decoration: none;
		background: none;
		color: #DDD;
		cursor: pointer;

		&:hover {
			border: 1px solid #ddd;
			background: none;
		}
	}
}


// -------------
// -- helpers --
// -------------
.not-visible {
	visibility: hidden;
}






















.h{position:absolute;right:-364px;top:8px;opacity:0;}
